<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add a book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <h1>
        Add a book:
    </h1>
    <form method="POST" action="#" th:action="@{/savebook}" th:object=${book}>
        <p>Title: <input type="text" th:field="${book.title}" /></p>
        <p>Author: <input type="text" th:field="${book.author}" /></p>
        <p>Publication Year: <input type="text" th:field="${book.publicationYear}" /></p>
        <p>Isbn: <input type="text" th:field="${book.isbn}" /></p>
        <p>Price: <input type="text" th:field="${book.price}" /></p>
        <label for="categorylist">Category</label>
        <select id="categorylist" th:field="*{category}" class="form-control">
            <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
            </option>
        </select>
        <input type="submit" value="Add" />
    </form>
    </form>